.pagination-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.pagination {
    display: flex;
    gap: 10px;
}

.pagination button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pagination button.active {
    background-color: var(--clr-actia);
    color: #fff;
}

.pagination button:hover:not(.active) {
    background-color: #e6e6e6;
}

.pagination button:disabled {
    background-color: #f0f0f0;
    color: #999;
    cursor: not-allowed;
}

.pagination .arrow {
    font-size: 1.4em;
    font-weight: bold;
}

@media (max-width: 600px) {
    .pagination-container {
        justify-content: center;
    }

    .pagination {
        gap: 5px;
    }

    .pagination button {
        padding: 10px 16px;
        font-size: 14px;
    }
}