.main-content-holder {
  display: grid;
  row-gap: 20px;
}

.content-grid-one {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "temp hcho tvoc"
    "temp co2 humidity";
  column-gap: 16px;
  row-gap: 16px;
}

.content-grid-two {
  display: none; /* Hide content-grid-two, since we will manage all items within content-grid-one */
}

.grid-item-temp {
  grid-area: temp;
}

.grid-item-hcho {
  grid-area: hcho;
}

.grid-item-tvoc {
  grid-area: tvoc;
}

.grid-item-co2 {
  grid-area: co2;
}

.grid-item-humidity {
  grid-area: humidity;
}

@media screen and (max-width: 1200px) {
  .content-grid-one {
    column-gap: 12px;
    row-gap: 12px;
  }
}

@media screen and (max-width: 992px) {
  .content-grid-one {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "temp temp"
      "hcho tvoc"
      "co2 humidity";
  }
}

@media screen and (max-width: 768px) {
  .content-grid-one {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "temp"
      "hcho"
      "tvoc"
      "co2"
      "humidity";
    column-gap: 0;
    row-gap: 12px;
  }
}
