/* FrameOne.css */

.container-1 {
  margin-top: 15px;
  margin-left: 1%;
  overflow-x: auto;
  width: 1000px;
}
.frameone-title {
  color: var(--clr-actia);
  font-size: 2.5rem; 
  font-weight: 600;
  margin-top: 1%;
}

.title {
  margin-top: 8%;
  display: flex;
  align-items: left; 
}

.table1 {
  margin-top: 40px;
  margin-left: 2%;
  width: calc(100% - 4%);
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background-color: var(--clr-actia);
  color: white;
}

th, td {
  padding: 1rem; 
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f0f0f0;
}

.sidebar-button1 {
  margin-top: 1%;
  display: flex; 
  justify-content: center; 
}

.pagination {
  margin-top: 24px;
  margin-bottom: 55px;
  margin-left: 1%;
}

@media screen and (max-width: 768px) {
  .container-1 {
    margin-left: 0;
  }
  .frameone-title {
    font-size: 2rem; 
  }
  .title {
    flex-direction: column; 
    align-items: flex-start; 
  }
  table {
    margin-left: 0;
  }
}
