/* main content top */
.main-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.content-top-left {
  display: flex;
  align-items: center;
}

.sidebar-button {
  align-items: center;
  margin-top: 2%;
}

.home-title {
  color: var(--clr-actia);
  font-size: 40px;
  font-weight: 600;
}

.sidebar-icon {
  margin-left: 12px;
}

.content-top-btn img:hover {
  filter: brightness(0) invert(1);
}